{% extends "base.html" %}

{% block content %}

<div  style="margin-bottom:700px" class="tags">
    <div class="flash-messages" class="btns">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% if job_ad %}
  <!--<h3>Password Reset<br> <span class="spans"></span></h3>--->
    <small style="font-weight:600;" class="paras-subtopics "><span style="color:coral">   Tip:</span> Tick Fields with boxes to include them on the Job Advert</small>
    <!----FORM----->
  <div style="" class="form_container">
     <div class="row justify-content-center">
    <div class="col-md-5">
     <div style="padding-left:30px;padding-right:30px;display:block;"  class="card">

        <div style="background-color: 12db5a;" class="card-body py-md-4">
        <h2 class="card-title text-center">Job Advert Form</h2>
        <form style="background-color: f8db5a;width:;"  _lpchecked="1" action="" method="post">

             <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                  {{job_ad_form.hidden_tag()}}
                 {{job_ad_form.csrf_token}}
                 {{ job_ad_form.job_title.label(class="labels")}}
                  {{ job_ad_form.job_title(class="form-control adj-width-60 font-color",placeholder="Job Title",value=job_ad.job_title)}}
                  {% if job_ad_form.job_title.errors %}
                    {% for error in job_ad_form.job_title.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <!-------JOB TYPE--------->
             <div class="job-ad-group marginise-bottom">
                 <label for="Job Type" class="labels">Job Type: </label>

                 <select  class="form-control font-color"  style="margin-bottom:10px;width:40%" name="job_type_sel" inputmode="text">
                     <option value="">------Choose Options------</option>
                     <option value="Part-Time">Part-Time</option>
                     <option value="Full-Time on Part-Time">Full-Time on Part-Time</option>
                     <option value="Internship">Internship</option>
                     <option value="Internship">Volunteer</option>
                     <option value="Contract">Contract</option>
                     <option value="Contract">Apprenticeship</option>
                     <option value="Contract">Casual Employment</option>
                     <option value="Contract">Seasonal Employment</option>
                     <option value="Contract">Employment-on-Commission</option>
                 </select>

                 <div>
                    <label for="Pay Type" class="labels">     </label>
                      {{ job_ad_form.other_job_type(class="form-control adj-width-other font-color",placeholder="Other")}}
                      {% if job_ad_form.other_job_type.errors %}
                        {% for error in job_ad_form.other_job_type.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                     {% endif %}
                 </div>

             </div>

             <!-------PAY TYPE--------->
             <div class="job-ad-group marginise-bottom">
                 <label for="Pay Type" class="labels">Pay Type: </label>
                 <select  class="form-control font-color" style="margin-bottom:10px;width:40%" name="pay_type_sel">
                     <option value="">--------Choose Options--------</option>
                     <option value="Full-Time on Part-Time">Pay-per-Hour</option>
                     <option value="Part-Time" >Paid Daily</option>
                     <option value="Full-Time on Part-Time" >Pay-per-Week</option>
                     <option value="Full-Time on Part-Time">Monthly</option>
                     <option value="Contract" >Pay-per-Project</option>
                 </select>
                 {{ job_ad_form.pay_type_bl()}}
                 <div>
                    <label for="Pay Type" class="labels">     </label>
                  {{ job_ad_form.other_pay_type(class="form-control adj-width-other font-color",placeholder="Other")}}
                  {% if job_ad_form.other_pay_type.errors %}
                    {% for error in job_ad_form.other_pay_type.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
                 </div>
             </div>

            <!--   Category  -->
            <div class="job-ad-group marginise-bottom">
                 <label for="category" class="labels">Field Category: </label>
                 <select class="form-control font-color" style="margin-bottom:10px;width:40%" name="field_category_sel">
                     <option value="">--------Choose Options--------</option>
                     <option value="Media & Technology">Media & Technology</option>
                     <option value="Information Technology">Information Technology</option>
                     <option value="Occupational Health & Safety">Health & Safety</option>
                     <option value="Miscellaneous">Miscellaneous</option>
                     <option value="Education">Education</option>
                     <option value="Science & History">Science & History</option>
                     <option value="Engineering">Engineering</option>
                     <option value="Music & Entertainment">Music & Entertainment</option>
                     <option value="Transport & Logistics">Transport & Logistics</option>
                     <option value="Pharmacy">Pharmacy</option>
                     <option value="Tourism & Hospitality">Tourism & Hospitality</option>
                     <option value="Literature">Literature</option>
                     <option value="Life Skills">Life Skills</option>
                     <option value="Geography & Culture">Geography & Culture</option>
                     <option value="Health">Typist</option>
                 </select>

                 <div>
                    <label for="Category" class="labels">     </label>
                    {{ job_ad_form.category(class="form-control adj-width-other font-color",placeholder="Other")}}
                    {% if job_ad_form.category.errors %}
                    {% for error in job_ad_form.category.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                    {% endif %}
                 </div>
             </div>

            <!-------JOB DESCRIPTION--------->
             <div class="job-ad-group marginise-bottom">

                 {{ job_ad_form.description.label(class="labels")}}<br>
                 <textarea class="form-control adj-width-60 font-color" style="height:100px" name="description">{{job_ad.description}}</textarea>
                  {% if job_ad_form.description.errors %}
                    {% for error in job_ad_form.description.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <!-------WORK DURATION--------->
            {% if job_ad.work_duration and job_ad.work_duration2 %}
             <div style="display:flex;" class="work-days">
                 <div class="job-ad-group marginise-bottom">
                     {{ job_ad_form.start_date.label(class="labels")}}
                      {{ job_ad_form.start_date(class="form-control adj-width-other font-color", value=job_ad.work_duration.strftime("%Y-%m-%d"))}}
                      {% if job_ad_form.start_date.errors %}
                        {% for error in job_ad_form.start_date.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                     {% endif %}
                 </div><p style="margin:0 5px;">   </p>
                <div class="job-ad-group marginise-bottom">
                     {{ job_ad_form.end_date.label(class="labels")}}{{ job_ad_form.work_duration_bl()}}
                      {{ job_ad_form.end_date(class="form-control adj-width-other font-color", value=job_ad.work_duration2.strftime("%Y-%m-%d"))}}
                      {% if job_ad_form.end_date.errors %}
                        {% for error in job_ad_form.end_date.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                     {% endif %}
                 </div>
            </div>
            {% else %}
            <div style="display:flex;" class="work-days">
                 <div class="job-ad-group marginise-bottom">
                     {{ job_ad_form.start_date.label(class="labels")}}
                      {{ job_ad_form.start_date(class="form-control adj-width-other font-color")}}
                      {% if job_ad_form.start_date.errors %}
                        {% for error in job_ad_form.start_date.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                     {% endif %}
                 </div><p style="margin:0 5px;">   </p>
                <div class="job-ad-group marginise-bottom">
                     {{ job_ad_form.end_date.label(class="labels")}}{{ job_ad_form.work_duration_bl()}}
                      {{ job_ad_form.end_date(class="form-control adj-width-other font-color")}}
                      {% if job_ad_form.end_date.errors %}
                        {% for error in job_ad_form.end_date.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                     {% endif %}
                 </div>
            </div>
            {% endif %}

             <!-------WORK DAYS--------->
             <div class="job-ad-group marginise-bottom">

                 {{ job_ad_form.work_days.label(class="labels")}}

                 {{ job_ad_form.work_days_bl()}}<br>

                  {{ job_ad_form.work_days(class="form-control adj-width-60 font-color",placeholder="e.g Mondays - Wednesdays",value=job_ad.work_days)}}
                  {% if job_ad_form.work_days.errors %}
                    {% for error in job_ad_form.work_days.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <!-------WORK HOURS--------->
             <div class="job-ad-group marginise-bottom">

                 {{ job_ad_form.work_hours.label(class="labels")}}

                 {{ job_ad_form.work_hours_bl()}}<br>

                  {{ job_ad_form.work_hours(class="form-control adj-width-60 font-color",placeholder="e.g 8:00am - 1:00pm",value=job_ad.work_hours)}}
                  {% if job_ad_form.work_hours.errors %}
                    {% for error in job_ad_form.work_hours.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <!-------QUALIFICATIONS--------->
             <div class="job-ad-group marginise-bottom">

                 {{ job_ad_form.qualifications.label(class="labels")}}<br>
                 <textarea class="form-control adj-width-60 font-color" style="height:100px" name="qualifications">{{job_ad.qualifications}}</textarea>
                  {% if job_ad_form.qualifications.errors %}
                    {% for error in job_ad_form.qualifications.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <!-------AGE RANGE--------->
              <div class="job-ad-group marginise-bottom">
                 {{ job_ad_form.age_range_bl.label(class="labels")}}
                  {{ job_ad_form.age_range_bl()}}<br>

                  {{ job_ad_form.age_range(class="form-control adj-width-60 font-color",placeholder="18years - 35 years")}}
                  {% if job_ad_form.age_range.errors %}
                    {% for error in job_ad_form.age_range.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}

             </div>

             <!-------BENEFITS--------->
              <div class="job-ad-group marginise-bottom">
                  <div class="job-ad-group marginise-bottom">
                     <label for="benefits" class="labels">Benefits (Press + Hold CRTL): </label>{{ job_ad_form.benefits_bl()}}<br>
                     <select class="form-control font-color" id="benefits" style="margin-bottom:10px;width:100%" name="benefits" multiple >
                         <option value="Flexible working hours">Flexible working hours</option>
                         <option value="Free House for Accommodation">Free House for Accommodation</option>
                         <option value="Work From Home">Work From Home</option>
                         <option value="Training & Development">Training & Development</option>
                         <option value="Free Food ">Free Food </option>
                         <option value="Performance Bonus"> Performance Bonus/Awards/Gifts</option>
                         <option value="Wellness Resources"> Wellness Resources</option>
                         <option value="Employee Discounts"> Employee Discounts</option>
                         <option value="Employee Assistance Program">Employee Assistance Program - Counselling</option>
                     </select>

                 <div><br>
                    {{ job_ad_form.benefits.label(class="labels")}}
                     <textarea class="form-control adj-width-60 font-color" style="height:100px" name="benefits">{{job_ad.benefits}}</textarea>
                  {% if job_ad_form.benefits.errors %}
                    {% for error in job_ad_form.benefits.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
                 </div>
             </div>

             </div>

             <!-------Application Deadline--------->
             <div class="job-ad-group marginise-bottom">

                 {{ job_ad_form.application_deadline.label(class="labels")}}<br>
                  {{ job_ad_form.application_deadline(class="form-control adj-width-60 font-color",value=job_ad.application_deadline.strftime("%Y-%m-%d"))}}
                  {% if job_ad_form.application_deadline.errors %}
                    {% for error in job_ad_form.application_deadline.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <!-------Post By--------->
             <div class="job-ad-group marginise-bottom">

                 {{ job_ad_form.posted_by.label(class="labels")}}<br>
                  {{ job_ad_form.posted_by(class="form-control adj-width-60 font-color",placeholder="e.g. Posted: John Doe",value=job_ad.contact_person)}}
                  {% if job_ad_form.posted_by.errors %}
                    {% for error in job_ad_form.posted_by.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                 {% endif %}
             </div>

             <div>
                 {{ job_ad_form.publish(class="btns", value="Update") }}
                 <!--<input class="btns" type="submit" value="Create Account" />-->

            </div>

         </form>
       </div>
    </div>
  </div></div></div>
{% else %}

{% endif %}
</div>
{% endblock %}