{% extends "base.html" %}

{% block content %}

<style>
    h1,h2,h3,label,div, small{
        color:rgb(226, 106, 63);
    }

    .labels{
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .btns{
        background-color: coral;
        border:none;
        color:white;
        transition: all 0.3s ease;
    }

    .btns:hover{
        border: 1px solid coral;
        background: none;
        color:coral;
    }
    .btns-outlined{
        border: 1px solid coral !important;
        background: none !important;
        color:coral !important;
    }
    .form-step { display: none;opacity: 0; }
    .form-step.active { display: block;  }
</style>

<div  style="margin-bottom:700px" class="tags">
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
  <!--<h3>Password Reset<br> <span class="spans"></span></h3>--->


    <!----FORM----->
  <div style="min-width:border:none;" class="form_container">
    <div class="row justify-content-center">
    <div class="col-md-5">
    <div style="padding-left:30px;padding-right:30px;display:block;"  class="ard">

        <div style="background-color: 12db5a;" class="card-body py-md-4">
        <h1 style="color:white !important"  class=" ">Hire A Freelance</h1>
            <!-- <small style="font-weight:600" class="paras-subtopics">Tip: Please Tick Fields with tick boxes to include them on the Job Advert</small><br><br> -->
        <form style="background-color: f8db5a;width:;"  _lpchecked="1" action="" method="post">

            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                  {{fl_job_ad_form.hidden_tag()}}
                 {{fl_job_ad_form.csrf_token}}
            </div>

             <!-------JOB TYPE--------->
             <div class="form-step active">
                <div class="job-ad-group marginise-bottom ">
                    <label for="Expertise" class="labels ">Job Title: </label>
                    <select onchange="changeOther(event)" class="form-control" style="margin-bottom:10px;width:40%;" id="job_title" name="job_title" inputmode="text">
                        <option value="Graphic Designer">Graphic Designer</option>
                        <option value="Virtual Assistant">Virtual Assistant</option>
                        <option value="Software Developer">Software Developer</option>
                        <option value="Web Developer">Web Developer</option>
                        <option value="Nail Technician">Nail Technician</option>
                        <option value="Photographer">Photographer</option>
                        <option value="Videographer">Videographer</option>
                        <option value="Fashion Designer">Fashion Designer</option>
                        <option value="Therapist">Therapist</option>
                        <option value="Pharmacist">Pharmacist</option>
                        <option value="Hair Dresser">Hair Dresser</option>
                        <option value="Light Driver">Light Driver</option>
                        <option value="Heavy-Duty Driver">Heavy-Duty Driver</option>
                        <option value="Electrician">Electrician</option>
                        <option value="Plumber">Plumber</option>
                        <option value="Car Mechanic">Car Mechanic</option>
                        <option value="Painter">Painter</option>
                        <option value="Typist">Typist</option>
                        <option value="Cook">Cook</option>
                        <option value="Cake Baker">Cake Baker</option>
                        <option value="For Hire">For Hire</option>
                        <option value="Referee">Referee</option>
                        <option value="Player Coach">Player Coach</option>
                        <option value="Event MC">Event MC</option>
                        <option value="Event Planner">Event Planner</option>
                        <option value="Wedding Organiser">Wedding Organiser</option>
                        <option value="Other">Other</option>
                    </select>

                    <div style="display: none;" id="other_job">
                        {{ fl_job_ad_form.other_job.label(class="labels", id="other_job", placeholder="Other")}}
                        {{ fl_job_ad_form.other_job(class="form-control adj-width-other", id="other_", placeholder="Please Specify Job Title")}}
                        {% if fl_job_ad_form.other_job.errors %}
                            {% for error in fl_job_ad_form.other_job.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <button type="button" class="btns" onclick="nextStep()">Next</button>
            </div>
            

            <!-------JOB DESCRIPTION--------->
            <div class="form-step">
                <div class="job-ad-group marginise-bottom">
                    {{ fl_job_ad_form.description.label(class="labels")}}<br>
                    {{ fl_job_ad_form.description(class="form-control adj-width-60",id="description", placeholder="Describe",style="min-height:100px")}}
                    {% if fl_job_ad_form.description.errors %}
                        {% for error in fl_job_ad_form.description.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <button type="button" class="btns" onclick="nextStep()">Next</button><br>
                <button type="button" class="btns-outlined btns" onclick="prevStep()">Previous</button>
            </div>

            <!-------prerequisites--------->
            <div class="form-step">
                <div class="job-ad-group marginise-bottom">
                    {{ fl_job_ad_form.days_of_work.label(class="labels")}}
                    {{ fl_job_ad_form.days_of_work(class="form-control adj-width-60",id="days_of_work", placeholder="e.g. 6 Days")}}
                    {% if fl_job_ad_form.days_of_work.errors %}
                        {% for error in fl_job_ad_form.days_of_work.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <button type="button" class="btns" onclick="nextStep()">Next</button><br>
                <button type="button" class="btns-outlined btns" onclick="prevStep()">Previous</button>
             </div>

             <!-------WORK DURATION--------->
             <div class="form-step">
                <div class="job-ad-group marginise-bottom">
                    {{ fl_job_ad_form.start_date.label(class="labels")}}
                    {{ fl_job_ad_form.start_date(class="form-control adj-width-60",id="start_date", placeholder="e.g Mon 23 May 2023")}}
                    {% if fl_job_ad_form.start_date.errors %}
                        {% for error in fl_job_ad_form.start_date.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <button type="button" class="btns" onclick="nextStep()">Next</button><br>
                <button type="button" class="btns-outlined btns" onclick="prevStep()">Previous</button>
             </div>
            


             <!-------Application Deadline--------->
             <div class="form-step">
                <div class="job-ad-group marginise-bottom">

                    {{ fl_job_ad_form.application_deadline.label(class="labels")}}<br>
                    {{ fl_job_ad_form.application_deadline(class="form-control adj-width-60",id="application_deadline", placeholder="Application Deadline")}}
                    {% if fl_job_ad_form.application_deadline.errors %}
                        {% for error in fl_job_ad_form.application_deadline.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <button type="button" class="btns" onclick="nextStep()">Next</button><br>
                <button type="button" class="btns-outlined btns" onclick="prevStep()">Previous</button>
             </div>

             <!-------Post By--------->
             <div class="form-step">
                <div class="job-ad-group marginise-bottom">

                    {{ fl_job_ad_form.posted_by.label(class="labels")}}<br>
                    {{ fl_job_ad_form.posted_by(class="form-control adj-width-60",id="posted_by", placeholder="e.g. Posted: John Doe")}}
                    {% if fl_job_ad_form.posted_by.errors %}
                        {% for error in fl_job_ad_form.posted_by.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btns-outlined btns" onclick="prevStep()">Previous</button><br>

            <div>
                 {{ fl_job_ad_form.publish(class="btns") }}
                 <!--<input class="btns" type="submit" value="Create Account" />-->
            </div>
             </div>

             
        </form>
       </div>
    </div>
  </div>
  </div>
  </div>
  <div style="height: 500px;"></div>
</div>
<script>
function changeOther(e){
    var value = e.target.value;
    var other = document.querySelector("#other_job");

    if (value === "Other"){
        other.style.display = "block";
        e.target.value = "";
    }else{
        other.style.display = "none";
        other.value = "";
    }

}
let currentStep = 0;
const steps = document.querySelectorAll('.form-step');

function showStep(step) {
  steps.forEach((el, idx) => el.classList.toggle('active', idx === step));
}

function nextStep() {
    if (currentStep < steps.length - 1) {
        currentStep++;
        showStep(currentStep);
    }
    }

function prevStep() {
    if (currentStep > 0) {
        currentStep--;
        showStep(currentStep);
    }
    }

document.addEventListener('DOMContentLoaded', () => showStep(currentStep));
</script>
{% endblock %}