{% extends "base.html" %}

{% block content %}
<!---------------FLASH------------------->
<div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>


<div style="margin-top:150px;" class="tags">

     <div class="account_container">
        <div class="card">

            <h3 style="font-size:25px;margin-left:50px;margin-bottom:0;">{{the_freelancer.name}}<br> <span class="spans" style="font-size:16px">Fill Out The Form Below
                            and Swiftly Join Eswatini Freelancers Pool</span></h3>

            <div  style="width:60%;margin-left:30px;" ><hr></div>
            <form action="" method="post" enctype="multipart/form-data" class="forms" >
                <div style="padding-left:50px" class="form-group">

                        <h2 class="media-h2"> Freelance Form </h2>

                        <!-- ------------Title--------------->
                        <div  class="acc-labels margin-l-15">{{ freelancer.skills.label()}}</div>
                        {{freelancer.hidden_tag()}}
                        {{freelancer.csrf_token}}
                        {% if the_freelancer.other_fl1 %}
                            {{ freelancer.skills(class="acc-form-control",value=the_freelancer.other_fl1)}}
                        {% else %}
                            {{ freelancer.skills(class="acc-form-control",placeholder="e.g. Electrician")}}
                        {% endif %}
                        {% if freelancer.skills .errors %}
                           {% for error in freelancer.skills .errors %}
                               <span class="span-error" >*{{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <!--------------EXPLAIN YOUR SKILL--------------->
                        <div  class="acc-labels margin-l-15">{{ freelancer.what_do_you_do.label()}}</div>
                        {% if the_freelancer.what_do_you_do %}
                            <textarea  name="what_do_you_do" class="acc-form-control font-18 media-h2 text-area-size">{{the_freelancer.what_do_you_do}}</textarea>
                        {% else %}
                            {{ freelancer.what_do_you_do(class="acc-form-control text-area-size",placeholder="What Do You DO")}}
                        {% endif %}
                        {% if freelancer.what_do_you_do.errors %}
                           {% for error in freelancer.what_do_you_do.errors %}
                               <span class="span-error" >*{{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <!--------------SELLING TAG--------------->

                        <div  class="acc-labels margin-l-15">{{ freelancer.other_fl.label()}}</div>
                        {% if the_freelancer.other_fl %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.other_fl)}}
                        {% else %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town")}}
                        {% endif %}
                        {% if freelancer.other_fl.errors %}
                           {% for error in freelancer.other_fl.errors %}
                               <span class="span-error" >*{{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <!--------------EXPERIENCE--------------->
                        <div  class="acc-labels margin-l-15">{{ freelancer.experience.label()}}</div>
                        {% if the_freelancer.fl_experience %}
                            <textarea  name="experience" class="acc-form-control font-18 media-h2 text-area-size">{{the_freelancer.fl_experience}}</textarea>
                        {% else %}
                            {{ freelancer.experience(class="acc-form-control text-area-size",placeholder="Experience (Optional)")}}
                        {% endif %}

                        {% if freelancer.experience.errors %}
                           {% for error in freelancer.experience.errors %}
                               <span class="span-error" >*Higher Certificate: {{error}}</span>
                           {% endfor %}
                        {% endif %}

                    <!--------------Links--------------->
                        <div  class="acc-labels margin-l-15">{{ freelancer.fb_link.label()}}</div>
                        {% if the_freelancer.fb_link %}
                    {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.fb_link)}}
                        {% else %}
                            {{ freelancer.fb_link(class="acc-form-control",placeholder="Paste Facebook Link (Optional)")}}
                        {% endif %}

                        {% if freelancer.fb_link.errors %}
                           {% for error in freelancer.fb_link.errors %}
                               <span class="span-error" >* {{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <div  class="acc-labels margin-l-15">{{ freelancer.pinterest_link.label()}}</div>
                        {% if the_freelancer.pinterest_link %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.pinterest_link)}}
                        {% else %}
                            {{ freelancer.pinterest_link(class="acc-form-control ",placeholder="Paste Pinterest Link (Optional)")}}
                        {% endif %}

                        {% if freelancer.pinterest_link.errors %}
                           {% for error in freelancer.pinterest_link.errors %}
                               <span class="span-error" >* {{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <div  class="acc-labels margin-l-15">{{ freelancer.linkedin_link.label()}}</div>
                        {% if the_freelancer.linkedin_link %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.linkedin_link)}}
                        {% else %}
                            {{ freelancer.linkedin_link(class="acc-form-control ",placeholder="Paste LinkedIn Link (Optional)")}}
                        {% endif %}

                        {% if freelancer.linkedin_link.errors %}
                           {% for error in freelancer.linkedin_link.errors %}
                               <span class="span-error" >* {{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <div  class="acc-labels margin-l-15">{{ freelancer.twitter_link.label()}}</div>
                        {% if the_freelancer.twitter_link %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.twitter_link)}}
                        {% else %}
                            {{ freelancer.twitter_link(class="acc-form-control ",placeholder="Paste X Link (Optional)")}}
                        {% endif %}

                        {% if freelancer.twitter_link.errors %}
                           {% for error in freelancer.twitter_link.errors %}
                               <span class="span-error" >* {{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <div  class="acc-labels margin-l-15">{{ freelancer.youtube_link.label()}}</div>
                        {% if the_freelancer.youtube_link %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.youtube)}}
                        {% else %}
                            {{ freelancer.youtube_link(class="acc-form-control ",placeholder="Paste X Link (Optional)")}}
                        {% endif %}

                        {% if freelancer.youtube_link.errors %}
                           {% for error in freelancer.youtube_link.errors %}
                               <span class="span-error" >* {{error}}</span>
                           {% endfor %}
                        {% endif %}

                        <div  class="acc-labels margin-l-15">{{ freelancer.instagram_link.label()}}</div>
                        {% if the_freelancer.instagram_link %}
                            {{ freelancer.other_fl(class="acc-form-control",placeholder="e.g. Best Nail Artist in Town",value=the_freelancer.instagram_link)}}
                        {% else %}
                            {{ freelancer.instagram_link(class="acc-form-control ",placeholder="Paste Instagram Link (Optional)")}}
                        {% endif %}

                        {% if freelancer.instagram_link.errors %}
                           {% for error in freelancer.instagram_link.errors %}
                               <span class="span-error" >* {{error}}</span>
                           {% endfor %}
                        {% endif %}

                </div>

            <div style="padding-left:50px;width:80%;" class="form-group">
                <h3 class="media-h2"> Upload Portfolio Resume (Optional)</h3>
                {{ freelancer.portfolio_file(class="acc-form-control")}}
            </div>

            <div style="padding-left:50px;width:40% !important;" class="d-flex flex-row align-items-center justify-content-between">
                  {{ freelancer.submit(class="btns") }}
            </div>

            </form>

        </div>
     </div>
</div>
{% endblock %}