{% extends "base.html" %}

{% block content %}
<div style="margin-bottom:150px;position:relative;width:100%;margin:0 auto;">
<div style="width:90%;background-color:" class="tags">
    <br><br>

    <div class="narrator">
        <h1 >Take a moment & learn about, <br><span class="spans">How It Works</span></h1>
        <h2> We empower College & University Graduates, Freelancers & School Leavers with practical Industry Skills to build their professional profiles</h2>
    </div>
<!--    First step-->
    <div id=""  style="overflow-x:auto;display:flex;" class="steps-cont reverse">
        <label><span class="title-how">Join Our Community</span></label>
        <div class="elastic-div"><img class="sign-icon-how" src="static/icons/sign_up.png" ></div>
        <div style="" class="info-graph">
            <div class="steps-circle"><p>Step 1</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:24px">It’s free, Simple and easy sign-up process for both employers and users.</span>
                <br><br></p></div>
        </div>
    </div>

    <!--    Image of arrow-->
    <div class="container-img">
        <div id="positioner-01" class="line-positioner"> <img class="inherent" src="static/icons/arrows-01.png"></div>
    </div>

    <!--    Step 2-->
     <div style="overflow-x:auto;display:flex;width:100%;" class="steps-cont ">
         <label><span class="title-how">Employment</span></label>
        <div style="background-color:" class="elastic-div"><img  class="sign-icon-how" src="static/icons/hiring.gif" ></div>

        <div style="background-color:" class="info-graph inf-step-odd">
            <div class="steps-circle"><p>Step 2</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:24px">Employers will post jobs, search for talent, and manage job applications.</span>
                <br><br> </p></div>
        </div>


    </div>

    <!--    Image of arrow-->
    <div class="container-img">
        <div id="positioner-02" class="line-positioner"> <img class="inherent" src="static/icons/arrows-02.png"></div>

    </div>


    <!--    Step 3-->
    <div style="overflow-x:auto;display:flex;" class="steps-cont reverse">
        <label><span class="title-how">Job Adverts</span></label>
        <div class="elastic-div"><img class="sign-icon-how" src="static/icons/jobsearch.gif" ></div>
        <div class="info-graph">
            <div class="steps-circle"><p>Step 3</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:21px">Youth can browse jobs, apply directly and showcase their skills.</span></p>
                </div>
        </div>


    </div>

    <!--    Image of arrow-->
    <div class="container-img">
        <div id="positioner-04" class="line-positioner"> <img class="inherent" src="static/icons/arrows-01.png"></div>
    </div>


    <!--    Step 4-->
     <div style="overflow-x:auto;display:flex;" class="steps-cont">
         <label><span class="title-how">Build Your Career Profile</span></label>
        <div style="background-color:;height:inherit" class="elastic-div"><img class="sign-icon-how" src="static/icons/profile.gif" ></div>

        <div style="background-color:" class="info-graph inf-step-odd">
            <div class="steps-circle"><p>Step 4</p></div>
            <div style="" class="descriptor label-graphic"><p><span style="font-weight:500;font-size:24px">A Secure platform to connect and communicate with potential employers.</span>
                <br><br></p></div>
        </div>


    </div><br>
    <div style="margin:0 auto !important;width:200px;"><a class="btns user-btns" href="/job_ads">Apply Now</a></div><br><br>


<!--    <div style="background-color:grey" class="arrow">-->
<!--        <div class="line-positioner">-->
<!--            <div class="arrow-lines-2"></div>-->
<!--            <div class="arrow-lines-r-2"></div>-->
<!--        </div>-->
<!--    </div>-->

</div>
</div>
{% endblock %}