{% extends "base.html" %}

{% block content %}

<style>
    .profile-sections{
        width:60%;
        margin:0 auto;
    }
    .tags{margin:0 auto}
    .big-btns a{
        width:100%;
        height:100%;
        background:none !important;
        box-shadow:none;
    }
    .big-btns a:hover{
        background:none !important;
        box-shadow:none;
    }
    .big-btns{
        width:250px;
        height:150px !important;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
        padding:10px;
    }
    .big-ibtns{
        width:300px;
        height:150px !important;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
        padding:10px;
        position:relative;
        border-radius:15px;
        display:flex;
        flex-wrap:wrap;
        gap:10px;
        border-right:3px solid coral;
    }
    .row-flex{
        gap:20px;
        width:90%;
        flex-wrap:wrap;
        justify-content:flex-start;
    }
    .labels{
        color:#777;
    }

    @media all and (max-width: 575px) {

    .profile-sections{
        width:90% !important;
        display:flex;
        flex-direction:row;
        }
    .paras-subtopics{
        margin: 5px 4%;
        font-size:10px !important;
        width:90% !important;
    }
    .topics {
        padding:5px;
        width:900px !im;
        flex-grow:1;
    }

    .optimise-mobile{
            height:inherit !important;
        }
    .inherent{
        height:170px !important;
        width:auto !important;
    }

    .optimise-mobile{
        height:inherit !important
    }

    .row-flex{
        width:100%;
        justify-content:center;
    }
    #int-topic{
        flex-direction:column;
        align-items:center;
    }

    #nt-on-mobile{width:250px;}

    }
</style>


<br><br><br>
<section style="background-color:" class="flex-justify-align profile-sections">
        <div style="position:;background-color:" class="topics">
            <div style="background-color:"  class="paras-subtopics  caption">
                <h1 id="main-welcome-h1" class="h1-tag">
                    <span class="spans">Discover platforms to enhance your job search endeavors.</span><br></h1>
            </div>
        </div>
</section>

<div style="" class="tags">
    <div style="background-color:" class="row-flex">
        <a href="https://jobs.eswazi.org/find-a-job/"><div class="big-btns">
            Jobs Eswatini<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/Jobs-Eswatini-Logo.png"/>
        </div></a>

        <a href="https://www.linkedin.com/jobs/jobs-in-eswatini/?currentJobId=3946680377&originalSubdomain=sz"><div class="big-btns">
            LinkedIn Jobs<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:35px" class="" src="static/images/LinkedIn_logo.svg"/>
        </div></a>
        <a href="https://www.indeed.com/q-swaziland-jobs.html?vjk=d9da936268eed4c9"><div class="big-btns">
            Indeed Jobs<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/indeed_logo.png"/>
        </div></a>
        <a href="https://www.indeed.com/jobs?q=&l=Remote&from=searchOnDesktopSerp&vjk=3976da2b5cd2e699">
        <div class="big-btns">
            Indeed Jobs<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px;max-width:inherit" class="" src="static/images/indeed_logo.png"/>
        </div></a>
        <a href="https://www.developmentaid.org/jobs/search?sort=highlighted.desc,relevance.desc&searchedText=eswatini">
        <div class="big-btns">
            Development Aid<br>
            <label class="labels">Jobs Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:22px" class="" src="static/images/logo_developmentaid.svg"/>
        </div></a>
        <a href="https://www.glassdoor.com/Job/south-africa-jobs-SRCH_IL.0,12_IN211.htm?remoteWorkType=1">
        <div class="big-btns">
            Glass Door<br>
            <label class="labels">Remote Jobs </label><br>
            <label class="labels">Sign UP Required</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/glassdoor_logo.png"/>
        </div></a>
        <a href="https://www.monster.com/jobs/q-work-from-home-jobs?page=4&et=REMOTE&so=p.h.p">
        <div class="big-btns">
            Monster Jobs<br>
            <label class="labels">Remote Jobs </label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/monster_logo.png"/>
        </div></a>
        <a href="https://www.ziprecruiter.co.uk/Jobs-/Remote?utm_source=zr_trending_hp">
        <div class="big-btns">
            Ziprecruiter<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:35px" class="" src="static/images/ZipRecruiter_logo.webp"/>
        </div></a>
        <a href="https://www.reed.co.uk/jobs/work-from-home-jobs">
        <div class="big-btns">
            Reed.co.uk<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:35px" class="" src="static/images/reedco_uk_logo.svg"/>
        </div></a>
        <a href="https://www.simplyhired.com/search?q=work+from+home">
        <div class="big-btns">
            Simplyhired<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:25px" class="" src="static/images/simplehired_logo.png"/>
        </div></a>
        <a href="https://www.flexjobs.com/search?joblocations=remote&usecLocation=true&Loc.LatLng=0%2C0&Loc.Radius=30">
        <div class="big-btns">
            FlexJobs<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/flexjobs_logo.svg"/>
        </div></a>


    </div><br><br><br>
</div>
<br><br>
<div style="margin:0 auto;width:70%;background-color:"  class="paras-subtopics  caption">
              <h1 id="main-welcom" class="h1-tag">
              <span style="color:coral" class="spans">International Internship Programs For Youth</span><br></h1>
 </div>
<section id="int-topic"  style="background-color:;" class="flex-justify-align profile-sections">
            <div id="nt-on-mobile" style="background-color:;"  class="optimise-mobile trim-edges anim not-on-mobile">
               <img style="height:inherit" class="inherent" alt="young-hustlers-climbing-for-success" src="static/images/youth-tht.jpeg" />
<!--           <img class="inherent" alt="the-hustlers-time-young-professionals" src="static/icons/young-people-analysing-jobs-online.png" />-->
          </div>
         <div style="position:" class="topics">
              <div style="background-color:"  class="paras-subtopics  caption">
                  <h1 id="main-welcome" class="h1-tag">Perhaps you are fresh from  college, you might need to polish-up your skills.<br>
                  <span style="color:coral;"  class="spans">Explore online internships that could elevate your career to new heights.</span><br></h1>
              </div>
<!--              <div  style="position:"  class="paras-subtopics  caption">-->
<!--                  <h1><span class="spans">Get Employability Skills</span> through <br> Are you looking for a Job but no experience, we are your plug!</h1>-->
<!--              </div>-->
<!--              <div style="position:"  class="paras-subtopics  caption">-->
<!--                  <h1><span class="spans">Gain Entreprenuership Skills</span> through <br> Short-term, Remote & Freelance Jobs, Today!</h1>-->
<!--              </div>-->
          </div>
<!--              <button class="next-btns"  onclick="showNextSection()"> + </button>-->
</section><br><br>

<div class="tags">
    <div class="row-flex">
    <a href="https://www.kone.com/en/careers/students-and-graduates/?rdrsrc=/en/careers/students-and-graduates/international-trainee-program/&rdrtrg=/en/careers/students-and-graduates/?utm_source=goabroad.com&utm_medium=referral&utm_campaign=article-feature">
        <div class="big-ibtns">
            Kone<br>
            <label class="labels">Trainee & Internships Programs</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/kone_logo.png"/>
        </div></a>
        <a href="https://www.goldmansachs.com/careers/students/programs/index.html">
        <div class="big-ibtns">
            goldmansachs<br>
            <label class="labels">Internships Programs</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/goldmansachs_logo.svg"/>
        </div></a>
    <a href="https://www.deloitte.com/ie/en/careers/explore-your-fit/students.html">
        <div class="big-ibtns">
            Deloitte<br>
            <label class="labels">Internships Programs</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/deloitte_logo.svg"/>
        </div></a>
    <a href="https://www.oysterworldwide.com/search?s_term=internship">
        <div class="big-ibtns">
            Oysterworldwide<br>
            <label class="labels">Internships & Volunteer Programs</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/oyster_logo.png"/>
        </div></a>
    <a href="https://career.hm.com/sg-en/blog/job-family/student-early-career/">
        <div class="big-ibtns">
            hm<br>
            <label class="labels">Internships Programs</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/h&m_logo.png"/>
        </div></a>
    <a href="https://www.worldbank.org/en/about/careers/programs-and-internships/internship?utm_source=goabroad.com&utm_medium=referral&utm_campaign=article-feature">
        <div class="big-ibtns">
            World Bank<br>
            <label class="labels">Internships</label><br>
            <label class="labels">Opens Jan 2025</label>
            <img style="position:absolute;left:25px;bottom:0px;height:30px" class="" src="static/images/worldbank_logo.svg"/>
        </div></a>
    <a href="https://www.kpmguscareers.com/early-career/">
        <div class="big-ibtns">
            kpmg<br>
            <label class="labels">Internships</label><br>
<!--            <label class="labels">Opens Jan 2025</label>-->
            <img style="position:absolute;left:25px;bottom:0px;height:30px" class="" src="static/images/kpmg_logo.svg"/>
        </div></a>
    <a href="https://www.google.com/about/careers/applications/students/">
        <div class="big-ibtns">
            google<br>
            <label class="labels">Internships</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/google_careers.jpg"/>
        </div></a>
    <a href="https://www.indeed.com/jobs?q=internship+abroad+2024&sc=0kf%3Aattr%28DSQF7%29%3B&vjk=170db211504117c2">
        <div class="big-ibtns">
            indeed<br>
            <label class="labels">Internships</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/indeed_logo.png"/>
        </div></a>
    </div>
</div><br>


{% if posted_jobs%}
<div class="other-jb-section">
    <h1 class="">Other Job Adverts</h1>
    <h2 style="margin-top: -10px;">Other Featured Job Opportunities</h2>
    <div style="width:inherit;flex-wrap: wrap;" class="gen-flex">
        {%for job in posted_jobs%}
        {%if job.advert_image%}
        <div class="job-cont-cont gen-flex-col">
            <div class="share-jb-img-cont"><img  src="static/images/{{job.advert_image}}" /></div>
            <div class="details">{{job.details}}<br>
                {%if job.deadline%}
                    <span class="deadln-tag">Deadline: {{job.deadline.strftime("%d %B %Y")}}</span>
                {%endif%}
            </div>
            <a href="{{job.link}}" target="_blank"><div class="link btns">Apply</div></a>
        </div>
        {%endif%}
        {%endfor%}
    </div>
</div>
{%endif%}
<br>

{% endblock %}