{% extends "base.html" %}

{% block content %}

<style>
    .profile-sections{
        width:70%;
        margin:0 auto;
    }
    .tags{margin:0 auto}
    .big-btns a{
        width:100%;
        height:100%;
        background:none !important;
        box-shadow:none;
    }
    .big-btns a:hover{
        background:none !important;
        box-shadow:none;
    }
    .big-btns{
        width:250px;
        height:150px !important;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
        padding:10px;
    }
    .big-ibtns{
        width:300px;
        height:150px !important;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
        padding:10px;
        position:relative;
        border-radius:15px;
        display:flex;
        flex-wrap:wrap;
        gap:10px;
        border-right:3px solid coral;
    }
    .row-flex{
        gap:20px;
        width:90%;
        flex-wrap:wrap;
        justify-content:flex-start;
    }
    .labels{
        color:#777;
    }

    @media all and (max-width: 575px) {

    .profile-sections{
        width:90% !important;
        display:flex;
        flex-direction:row;
        }
    .paras-subtopics{
        margin: 5px 4%;
        font-size:10px !important;
        width:90% !important;
    }
    .topics {
        padding:5px;
        width:900px !im;
        flex-grow:1;
    }

    .optimise-mobile{
            height:inherit !important;
        }
    .inherent{
        height:170px !important;
        width:auto !important;
    }

    .optimise-mobile{
        height:inherit !important
    }

    .row-flex{
        width:100%;
        justify-content:center;
    }
    #int-topic{
        flex-direction:column;
        align-items:center;
    }

    #nt-on-mobile{width:250px;}

    }
</style>


<br><br><br>


<section style="background-color:" class="flex-justify-align profile-sections">
        <div style="position:;background-color:" class="topics">
            <div style="background-color:;padding:5px;"  class="paras-subtopics  caption">
                <h3 id="main-welcome-h1" class="h1-tag">
                    <span class="spans">Whether it’s right around the corner or halfway across the world. 
                        Local or remote, full-time or freelance, we’ve got you covered.
                    </span><br></h3>
            </div>
        </div>
</section>
<br>

{% if updates %}
<div class="display-updates updates-popup gen-flex">
    <div style="gap:5px" class="pop-content">
        <div style="" class="scroll-enabler">
            <div>
                <h3 style="color:coral;font-weight:600">🤗Welcome Back!</h3>
                <h5 style="font-size: 13px;color:#363232" >Job Posts you missed since you last visited, {{days_missed.days}} days ago</h5>
                <div style="gap:5px;display:flex;flex-direction: column;">
                {%for update in updates%}
                    <div  class="post-container gen-flex">
                        <div class="img-cont-01 img-cont"><img src="static/images/{{update.advert_image}}" /></div>
                        <div style="align-items: flex-start;" class="jb-title-cont gen-flex-col">
                            <div style="font-size:14px;font-weight: 600;color:#006769">{{update.details}}</div>
                            <small style="font-size:10px;color:#383838" >
                                <span style="font-weight: 500;">Posted:</span> {{update.timepstamp.strftime("%d %b %y")}}{%if update.deadline %}
                                <span style="font-weight:500">  Deadline:</span>  {{update.deadline.strftime("%d %b %y")}}{%endif%}
                            </small>
                        </div>
                        <div class="filler"></div>
                    </div>
                {%endfor%}
                </div>
                
            </div>
        </div>
        <div style="margin: 0 auto;width: max-content;">
            <button style="border:none" id="got-it" class="btns go-btn">Got it👍</button>
        </div>
    </div>
</div>
{%else%}
    {% if session.get('run_modl', False) %}
    <div class="welcome-advert gen-flex-col">
        <img style="height: 100px;width:100px" src="static/icons/tht_logo_icon.png" />
        <div class="slideshow-container">
            <div class="adv-cont">
                <h1 class="advert">Your Dream Job Awaits – Locally or Globally! 🌍
                    One Platform. Endless Opportunities.
                </h1>
            </div>
            <div style="" class="adv-cont gen-flex-col">
                
                <div style="margin: 0 auto;width:max-content"><img style="height:50px" src="static/icons/easy-apply-icon.png" /></div>
                <div style="margin: 0 auto;width:max-content"><img style="height:400px" src="static/images/application-form-1.png" /></div>
                <div style="margin: 0 auto;width: max-content;"><label style="color:rgb(255, 254, 254);text-align: center;margin: 0 auto;width: max-content;" class="adver">Apply Here and Easily!
                </label></div>
            </div>
            <div style="" class="adv-cont gen-flex-col">
                <h3 style="color:coral" class="advert">Track Delivery and Last seen Activities
                </h3>
                <div style="margin: 0 auto;width:max-content"><img style="max-height:400px" src="static/images/tracker.png" /></div>
            </div>
        </div>
        <div style="flex-grow:1" class="filler"></div>
        <div  id="close-button" onclick="closeAdverts()" class="btns go-btn">Go</div>
    </div>
    {%endif%}
{%endif%}


<div style="" class="tags">
    <div style="background-color:" class="row-flex">
        <a href="https://jobs.eswazi.org/find-a-job/" ><div class="big-btns">
            Jobs Eswatini<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/Jobs-Eswatini-Logo.png"/>
        </div></a>

        <a href="https://www.facebook.com/jobsinsd/" ><div class="big-btns">
            Jobs in Swaziland<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/jobs_in_swaziland_logo.jpg"/>
        </div></a>

        <a href="https://www.facebook.com/p/Job-Vacancies-in-Eswatini-and-Beyond-61558537822687/" ><div class="big-btns">
            Job Vacancies in Eswatini and Beyond<br>
            <label class="labels"> </label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/434430184_122094341198284594_4481842154566871157_n.jpg"/>
        </div></a>

        <a href="https://www.facebook.com/profile.php?id=100080631909614" ><div class="big-btns">
            Job Sharing Portal<br>
            <label class="labels"> </label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/306961007_162675219763541_3235329339235561054_n.jpg"/>
        </div></a>
        

        <a href="https://www.linkedin.com/jobs/jobs-in-eswatini/?currentJobId=3946680377&originalSubdomain=sz"><div class="big-btns">
            LinkedIn Jobs<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:35px" class="" src="static/images/LinkedIn_logo.svg"/>
        </div></a>
        <a href="https://www.indeed.com/q-swaziland-jobs.html?vjk=d9da936268eed4c9"><div class="big-btns">
            Indeed Jobs<br>
            <label class="labels"> Jobs Near to you</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/indeed_logo.png"/>
        </div></a>
        <a href="https://www.indeed.com/jobs?q=&l=Remote&from=searchOnDesktopSerp&vjk=3976da2b5cd2e699">
        <div class="big-btns">
            Indeed Jobs<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px;max-width:inherit" class="" src="static/images/indeed_logo.png"/>
        </div></a>
        <a href="https://www.developmentaid.org/jobs/search?sort=highlighted.desc,relevance.desc&searchedText=eswatini">
        <div class="big-btns">
            Development Aid<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:22px" class="" src="static/images/logo_developmentaid.svg"/>
        </div></a>
        <a href="https://www.glassdoor.com/Job/south-africa-jobs-SRCH_IL.0,12_IN211.htm?remoteWorkType=1">
        <div class="big-btns">
            Glass Door<br>
            <label class="labels">Remote</label><br>
            <label class="labels">Sign UP Required</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/glassdoor_logo.png"/>
        </div></a>
        <a href="https://www.monster.com/jobs/q-work-from-home-jobs?page=4&et=REMOTE&so=p.h.p">
        <div class="big-btns">
            Monster Jobs<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/monster_logo.png"/>
        </div></a>
        <a href="https://www.ziprecruiter.co.uk/Jobs-/Remote?utm_source=zr_trending_hp">
        <div class="big-btns">
            Ziprecruiter<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:35px" class="" src="static/images/ZipRecruiter_logo.webp"/>
        </div></a>
        <a href="https://www.reed.co.uk/jobs/work-from-home-jobs">
        <div class="big-btns">
            Reed.co.uk<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:35px" class="" src="static/images/reedco_uk_logo.svg"/>
        </div></a>
        <a href="https://www.simplyhired.com/search?q=work+from+home">
        <div class="big-btns">
            Simplyhired<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:25px" class="" src="static/images/simplehired_logo.png"/>
        </div></a>
        <a href="https://www.flexjobs.com/search?joblocations=remote&usecLocation=true&Loc.LatLng=0%2C0&Loc.Radius=30">
        <div class="big-btns">
            FlexJobs<br>
            <label class="labels">Remote</label>
            <img style="position:absolute;left:25px;bottom:0px;height:50px" class="" src="static/images/flexjobs_logo.svg"/>
        </div></a>


    </div><br><br><br>
</div>
<br><br>


<div class="ad-parent gen-flex">
    <div class="monento"><img src="static/images/woman-pc.jpg" class="course-ad-mainp" /></div>
    <div class="sub-ad-parent">
        <div style="color:coral">Are you ready to elevate your skills and boost your knowledge?</div>
        <div style="font-weight:500;color:#777;font-size:13px ;">Explore a wide range of topics that spark your interest and align with your career goals</div>
        <div><a href="/online_courses" ><button class="btns explore-btn">Explore</button></a></div>
    </div>
</div>
<br>


<br>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const nav = document.createElement("div");
        nav.id = "floating-nav";
        nav.innerHTML = `
            <div id="floating-nav">
            <button onclick="navigateHome()">
                <img style="height:40px;border-radius: 50%;" class="social-icon-main" src="static/icons/quick-menu-icon.png" />
            </button>
            </div>
        `;
        Object.assign(nav.style, {
            position: "fixed",
            bottom: "20px",
            right: "10px",
            zIndex: "505",
            background: "none",
            borderRadius: "50%",
            padding: "15px",
        });
        document.body.appendChild(nav);
        });
        
    var container = document.querySelector(".updates-popup");
    var closeBtn=document.querySelector("#got-it");
    closeBtn.addEventListener('click', function(){
        console.log("Check Closing")
        container.classList.remove("display-updates");
        // container.forEach(element => {
        //     element.style.display="none";
        // });
        
    });
    
</script>

{% endblock %}