{% extends "base.html" %}

{% block content %}
<br><br>
<div style="margin-bottom:100px"   class="tags">
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
  <!--<h3>Password Reset<br> <span class="spans"></span></h3>--->

    <!----FORM----->
    <div id="browse-job" style="min-width:350px;"  class="form_container">
        <div class="jb-viewed-card-body">

            <div style="margin-top:100px"  class="img-cont">
                  {% if db.session.query(company_user).get(item.job_posted_by) %}
                        {% if not db.session.query(company_user).get(item.job_posted_by).image == None %}
                            <img class="prf-image" src="{{url_for('static', filename='images/' + db.session.query(company_user).get(item.job_posted_by).image)}}"/>
                        {% endif %}
                  {% else %}
                        <img class="prf-image" src="static/images/default.jpg"/>
                  {% endif %}
            </div>

            <h2 style="margin-top:-15px" class="card-title text-center">{{db.session.query(company_user).get(item.job_posted_by).name}}</h2>

            <div style="background-color:#fff;" class="job_ad_group marginise-bottom adj-wid">
                <h2 style="font-weight:bold;color:#006769;">{{item.job_title}}</h2>
                <hr>
            </div>

             <!-------JOB TYPE--------->
            {% if item.service_title %}
             <div class="job_ad_group marginise-bottom">
                 <label for="Job Type" class="labels">Service Title: </label>
                 <p>{{ item.service_title}}</p>
             </div>
            {% endif %}

             <!-------PAY TYPE--------->
            {% if item.service_category %}
            <div class="job_ad_group marginise-bottom">
            <label for="Pay Type" class="labels">Service Category: </label>
                  <p>{{item.service_category}}</p>
            </div>
            {% endif %}

            <!-------JOB DESCRIPTION--------->
            <div class="job_ad_group adj-wid marginise-bottom">
                <label for="Specialty" class="labels">Specialty: </label>
                  <p>{{ item.specialty}}</p>

            </div>


             <!-------WORK DURATION--------->
            <div class="job_ad_group marginise-bottom">
                <label for="Work Duration" class="labels">Description: </label>
                <p>{{item.description}}</p>

            </div>



             <!-------WORK DAYS--------->
            {% if item.project_duration %}
             <div class="job_ad_group marginise-bottom">

                <label for="Work Days" class="labels">Estimated Project Duration: </label>
                <p>{{ item.project_duration}}</p>

             </div>
            {% endif %}

             <!-------WORK HOURS--------->
             <div class="job_ad_group marginise-bottom">
                <label for="Working Hourse" class="labels">Deadline: </label>
                <p>{{ item.application_deadline}}</p>

             </div>


             <!-------RESPONSIBILITIES--------->
            {% if item.contact_person %}
             <div class="job_ad_group marginise-bottom">
                <label for="Responsibilities" class="labels">Contact Person: </label>
                <p>{{item.contact_person}}</p>

             </div>
            {% endif %}

             <!-------QUALIFICATIONS--------->
            <div class="job_ad_group marginise-bottom">
                <label for="Qualifications" class="labels">Qualifications: </label>
                <p>{{ current_user.qualifications}}</p>

             </div>

             <!-------AGE RANGE--------->
            {% if item.date_posted %}
              <div class="job_ad_group marginise-bottom">
                  <label for="Age Range" class="labels">Posted: </label>
                  <p>{{ item.date_posted}}</p>
             </div>
            {% endif %}

             <!-------BENEFITS--------->
            {% if item.benefits %}
              <div class="job_ad_group marginise-bottom">
                  <label for="Benefits" class="labels">Benefits: </label>
                  <p>{{item.benefits}}</p>
             </div>
            {% endif %}

             <div>
                 <!--<input class="btns" type="submit" value="Create Account" />-->

               <a class="btns" href="/send_application_fl?tender_id={{item.job_id}}">Apply Now</a>

             </div>

        </div>
    </div>
</div>
{% endblock %}