{% extends "base.html" %}

{% block content %}
<div class="flash-messages" class="btns">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>

<!--<h3 style="font-size:25px">{{job_usr.name.title()}}<br> <span class="spans" style="font-size:16px">{{job_usr .email}}</span></h3>-->

<div class="tags">



 <div class="account_container">


    <div class="card">


          <div style="background-color:fccc42;width:550px;padding-left:15px" class="form-group">
              <h2 style="font-size:29px" class="card-title text-center">Applicant Details</h2>

              <div style="margin-left:50px"   class="img-cont">
                  {% if not job_usr.image == None %}
                        <img class="prf-image" src="static/images/{{job_usr.image}}"/>
                  {% else %}
                        <img class="prf-image" src="static/images/default.jpg"/>
                  {% endif %}

             </div>

             <div class="form-group">
                 <h3><u>Personal Details</u></h3>

               <p class="view_applicant_p" ><span style="font-wight:bold;" > Name: </span>{{job_usr.name}}</p>
              <p class="view_applicant_p"><span style="font-wight:bold;" > Email: </span>{{job_usr.email}}</p>
              <p class="view_applicant_p"><span style="font-wight:bold;" > Birthday: </span>{{job_usr.date_of_birth}}</p>
            </div>

              <div class="form-group">
                  <h3 style="display:block;width:260px;"> <u>Education & Experience</u></h3>
                  <p class="view_applicant_p" ><span style="font-wight:bold;" >High School: </span>{{job_usr .school}}</p>

                  <p class="view_applicant_p" ><span style="font-wight:bold;" >Tertiary: </span>{{job_usr .tertiary}}</p>

                  <p class="view_applicant_p" ><span style="font-wight:bold;" >Work: </span>{{job_usr .experience}}</p>
                  {% if job_usr.other %}
                    <div class="form-group">
                        <h3 style="margin-bottom:-10px">Check My Resume</h3><br>
                        <a id="open_pdf" style="background-color:#f66;" class="view_freelanca_p"  href="/pdf_viewer?opn_fl={{job_usr.other}}">Open Resume</a>
                    </div>
                  {% endif %}
            </div>


            <div class="form-group">
                 <h3><u>Skills & Hobbies </u> </h3>

                  <p class="view_applicant_p" ><span style="font-wight:bold;" >Skills: </span>{{job_usr .skills}}</p>
                  <p class="view_applicant_p" ><span style="font-wight:bold;" >Hobbies: </span>{{job_usr .hobbies}}</p>


            </div>

            <div style="padding-bottom:25px;" class="form-group">
                <h3><u> References </u></h3>

                <p class="view_applicant_p" ><span style="font-wight:bold;" >Physical Address: </span>{{job_usr .address}}</p>

                <p class="view_applicant_p" ><span style="font-wight:bold;" >Reference (1): </span>{{job_usr .reference_1}}</p>

                <p class="view_applicant_p" ><span style="font-wight:bold;" >Reference (2): </span>{{job_usr .reference_2}}</p>

                <div style="dispaly:block">
                       <!--<input class="btns" type="submit" value="Create Account" />-->
                       <a class="btns" href="{{ url_for('hire_applicant', id=ser.dumps({'data2':job_usr.id}), app_id=ser.dumps({'data3':app_id})) }}">Hire {{ job_usr.name }}</a>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between">


           </div>
          </div>
              </form>
      </div>
   </div>
 </div>
 </div>
 </div></div>


{% endblock %}